configuration {
    modi: "combi,ssh";
    combi-modi: "drun,run";
    combi-hide-mode-prefix: true;

    show-icons: true;
    scroll-method: 1;
    window-format: "{t}";

    kb-remove-to-eol: "";
    kb-accept-entry: "Control+m,Return,KP_Enter";
    kb-row-up: "Up,Control+p,Control+k";
    kb-row-down: "Down,Control+n,Control+j";
}

@theme "current"
